* {
margin:0;
padding:0;
}


.UI{
    margin: 2%;
    margin-top: 3px;
    display:flex;
    justify-items: left;
}
.interaction{
    margin: 1.5em;
}
.game{
    justify-items: center;
    margin: 2%;
}
#title{
    align-content: center;
    margin: 2%;
    font-size: 2.5em;
}
#title2{
    margin: 1%;
    margin-left: 2%;
    display: flex;
}
.hw{
    width: 10%;
}